*{
  margin: 0;
  padding: 0;
}


.navbar-brand img{
  width: 50px;
}
#lista-filmes
{
  display:flex;
  justify-content: start;
  flex-wrap: wrap;
  padding: 2rem;
}

.card-filme
{
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 10px;
  box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  width: 350px;
  max-width: 500px;
  margin-bottom: 1rem;
  margin-left: 5rem;
}
.card-filme-poster 
{
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-filme-conteudo {
  width: 100%;
  padding: 1rem;
}

.card-filme-titulo {
  font-size: 1.25rem;
  font-weight: bold;
  margin: 0;
  margin-bottom: 0.5rem;
}

.card-filme-sinopse {
  font-size: 1rem;
  margin-top: 0.5rem;
}

.card-filme-rodape {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.card-filme-ano {
  font-size: 0.875rem;
  color: #000;
  font-size: 20px;
}

.card-filme-genero {
  font-size: 0.875rem;
  background-color: #e6e6e6;
  color: #555;
  border-radius: 5px;
  padding: 0.25rem 0.5rem;
}
svg{
  width: 50px;
  height: 30px;
  margin-top: 25px;
  margin-left: 250px;
}
button .Bot{
  margin-top: 25px;
}
.Flex-Container
{
  display: flex;
  flex-wrap: wrap;
}

.card{
  display: flex;
  flex-direction: row;
 
  align-items: center;
  background-color: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 15px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  margin-left: 50px;
  width: 320px;
  max-width: 500px;
  margin-bottom: 1rem;
  margin-top: 25px;
}
.card button{
  background-color: #000;
  color: #fff;
  border-radius: 25px;
  width: 230px;
  height: 30px;
}

.card-title
{
  font-size: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.card-img-top
{
  display: flex;
  max-width: 400px;
  max-height: 450px;
  justify-content: center;  
  float: left;
  margin-left: 50px;
  padding-left: 25px;
}

.cardFilmeDeth
{
  margin-bottom: 0;
  padding-top: 85px;
  padding-left: 20px;
}

.cardInfos{
  width: 90%;
  margin: 10px;
}

.info{
  width: 100%;
  font-size: 8pt;
}
.btnDetalhesFilme{
  margin-top: 20px;
}

.card-img-topz{
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#btnSalvar{
  background-color: #000;
  color: #fff;
  border-radius: 25px;
  width: 230px;
  height: 30px;
}

#btnSalvar:hover{
  color: #fff;
}

#btnFechar{
  background-color: #000;
  color: #fff;
  border-radius: 25px;
  width: 230px;
  height: 30px;
  padding-left: 20px;
}

#btnDesfavoritar{
  background-color: #000;
  color: #fff;
  border-radius: 25px;
  width: 230px;
  height: 30px;
  padding-left: 20px;
}
#btnFechar:hover{
  color: #fff;
}
